*{
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #0EA5E9;
  --primary-color-hover: #058cd0; 
  --border-color: #ccc;
  --background-color: #F9FAFB; /* dark bg #0F172A */
  --text-color: #1e1e1e;
  --text-faded: #6b7280; 
}

    :root {
      --gray-50: #f9fafb;
      --gray-100: #f3f4f6;
      --gray-200: #e5e7eb;
      --gray-300: #d1d5db;
      --gray-400: #9ca3af;
      --gray-500: #6b7281;
      --gray-600: #4b5563;
      --gray-700: #374151;
      --gray-800: #1f2937;
      --gray-900: #111827;
      --primary-color: #0EA5E9;
      --green-500: #22c55e;
      --yellow-500: #eab308;
      --red-50: #fef2f2;
      --red-600: #dc2626;
    }

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  width: 100%;
  min-height: 100vh;
}

p{
  font-size: 1.4rem;
  line-height: 1.6;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.8rem;
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}
.primary-btn:hover {
  background-color: var(--primary-color-hover);
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex-cl{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.small-text{
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* responsive design */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}